// Colors
//// Background
$color-bg: #0e0c0a;
$color-bg-elevated: #111111;
//// Foreground
$color-fg: #ededed;
$color-fg-muted: #a7a4a1;
$color-fg-secondary: #767676;
$color-accent: #e1ac6e;
$color-accent-glow: rgba(225, 172, 110, 0.149);
$color-available: #75b68c;
$color-available-ring: rgba(117, 182, 140, 0.5);
$color-unavailable: #b67575;
$color-unavailable-ring: rgba(182, 117, 117, 0.5);
//// Borders
$color-border-subtle: #1b1917;

// Gradient

// Layout
$page-spacer: 25px;
$page-gutter: $page-spacer 100px;
$page-gutter-mobile: 15px;
$text-spacing-5: 0.5;
$home-padding: 35px 0;
$home-padding-mob: 20px 0;

// Viewport
$vp-desktop-only: 1024px;
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-1440: 1440px;
$vp-550: 550px;

// Other
$trans-3: 0.3s;
$fz-default: 18px;

// Animations
@keyframes ping {
  0% {
    box-shadow: 0 0 0 0 var(--ping-color);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px var(--ping-color);
    opacity: 0;
  }
}

// Mixins
@mixin page-gutter {
  padding-inline: $page-gutter;
  @media (max-width: 640px) { padding-inline: $page-gutter-sm; }
}

// Functions
@function size($size-in-px) {
  @return $size-in-px / $fz-default * 1rem;
}

@function size-html($vp: $vp-1440, $k: 1) {
  @return $fz-default / $vp * 100vw * $k;
}