.switcher {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  font-size: 13px;
  font-family: inherit;
  letter-spacing: $text-spacing-5;
  text-transform: uppercase;
  border: 1px solid $color-border-subtle;
  border-radius: 8px;
  overflow: hidden;
  transition: $trans-3;
  cursor: pointer;
  color: inherit;
  background: transparent;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    background-color: $color-border-subtle;
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    border-color: $color-accent;

    .option:not(.active) {
      color: $color-accent;
    }
  }
}

.indicator {
  position: absolute;
  top: 0;
  left: -10%;
  width: 60%;
  height: 100%;
  background-color: $color-accent-glow;
  transform: skewX(-15deg);
  transition: transform $trans-3 ease;
  pointer-events: none;
}

.indicatorRight {
  transform: translateX(100%) skewX(-15deg);
}

.option {
  position: relative;
  z-index: 1;
  min-width: 44px;
  padding: 8px 0;
  text-align: center;
  color: $color-fg-secondary;
  transition: $trans-3;
}

.active {
  font-weight: 700;
  color: $color-fg;
}
